Data set Link = https://www.kaggle.com/datasets/harshsharma1805/indian-equity-data

# Import Python Libraries

In [44]:
pip install numpy --upgrade

Requirement already satisfied: numpy in c:\users\acer\anaconda3\lib\site-packages (1.20.1)
Collecting numpy
  Downloading numpy-1.22.3-cp38-cp38-win_amd64.whl (14.7 MB)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.20.1
    Uninstalling numpy-1.20.1:
      Successfully uninstalled numpy-1.20.1
Successfully installed numpy-1.22.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
from datetime import datetime
from dateutil.parser import parse
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# Load Data

In [3]:
def myDateConv(tt):
    sep = tt[2]
    if sep == '-':
        return pd.to_datetime(tt, format='%d-%m-%Y')
    elif sep == '/':
        return pd.to_datetime(tt, format='%d/%m/%Y')
    else:
        return tt

In [5]:
df_1 = pd.read_csv("C:\\Users\\Acer\\Desktop\\Python\\data\\Equity Data (1 Jan 2020).csv", converters={'DATE1': myDateConv})

In [6]:
df_1.head()

,DATE1,SYMBOL,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,2022-02-11 00:00:00,NETFLTGILT,22.40,22.02,22.48,22.02,22.25,22.27,22.25,16697,3.72,83,12968.0,77.67
1,2022-02-11 00:00:00,NETFMID150,116.02,119.50,119.50,113.61,114.10,113.95,114.68,224822,257.82,1780,200777.0,89.30
2,2022-02-11 00:00:00,NETFNIF100,183.49,178.50,184.98,178.50,182.05,182.22,182.07,2354,4.29,135,2140.0,90.91
3,2022-02-11 00:00:00,NETFDIVOPP,45.63,46.25,46.25,45.07,45.33,45.09,45.40,1239,0.56,86,1122.0,90.56
4,2022-02-11 00:00:00,NETFGILT5Y,49.66,49.66,49.82,49.47,49.82,49.79,49.72,82821,41.18,322,74512.0,89.97

# Data Preprocessing

In [7]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809339 entries, 0 to 809338
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   DATE1          809339 non-null  object
 1   SYMBOL         809339 non-null  object
 2   PREV_CLOSE     809339 non-null  float64
 3   OPEN_PRICE     809339 non-null  float64
 4   HIGH_PRICE     809339 non-null  float64
 5   LOW_PRICE      809339 non-null  float64
 6   LAST_PRICE     809339 non-null  float64
 7   CLOSE_PRICE    809339 non-null  float64
 8   AVG_PRICE      809339 non-null  float64
 9   TTL_TRD_QNTY   809339 non-null  int64
 10  TURNOVER_LACS  809339 non-null  float64
 11  NO_OF_TRADES   809339 non-null  int64
 12  DELIV_QTY      809336 non-null  float64
 13  DELIV_PER      809336 non-null  float64
dtypes: float64(10), int64(2), object(2)
memory usage: 86.4+ MB

In [9]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809339 entries, 0 to 809338
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   DATE1          809339 non-null  datetime64[ns]
 1   SYMBOL         809339 non-null  object
 2   PREV_CLOSE     809339 non-null  float64
 3   OPEN_PRICE     809339 non-null  float64
 4   HIGH_PRICE     809339 non-null  float64
 5   LOW_PRICE      809339 non-null  float64
 6   LAST_PRICE     809339 non-null  float64
 7   CLOSE_PRICE    809339 non-null  float64
 8   AVG_PRICE      809339 non-null  float64
 9   TTL_TRD_QNTY   809339 non-null  int64
 10  TURNOVER_LACS  809339 non-null  float64
 11  NO_OF_TRADES   809339 non-null  int64
 12  DELIV_QTY      809336 non-null  float64
 13  DELIV_PER      809336 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(2), object(1)
memory usage: 86.4+ MB

In [10]:
df_1 = df_1.dropna()

In [11]:
df_1.isnull().sum()

DATE1            0
SYMBOL           0
PREV_CLOSE       0
OPEN_PRICE       0
HIGH_PRICE       0
LOW_PRICE        0
LAST_PRICE       0
CLOSE_PRICE      0
AVG_PRICE        0
TTL_TRD_QNTY     0
TURNOVER_LACS    0
NO_OF_TRADES     0
DELIV_QTY        0
DELIV_PER        0
dtype: int64

#Data set starting Date

In [12]:
df_1['DATE1'].min()

Timestamp('2020-01-01 00:00:00')

In [13]:
df_1['DATE1'].max()

Timestamp('2022-09-02 00:00:00')

In [23]:
df_1.index = pd.to_datetime(df_1.index)

In [24]:
df_1 = df_1.sort_index()

In [18]:
df_1.set_index('DATE1', inplace=True)

In [19]:
df_1

,SYMBOL,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
DATE1,,,,,,,,,,,,,
2022-02-11,NETFLTGILT,22.40,22.02,22.48,22.02,22.25,22.27,22.25,16697,3.72,83,12968.0,77.67
2022-02-11,NETFMID150,116.02,119.50,119.50,113.61,114.10,113.95,114.68,224822,257.82,1780,200777.0,89.30
2022-02-11,NETFNIF100,183.49,178.50,184.98,178.50,182.05,182.22,182.07,2354,4.29,135,2140.0,90.91
2022-02-11,NETFDIVOPP,45.63,46.25,46.25,45.07,45.33,45.09,45.40,1239,0.56,86,1122.0,90.56
2022-02-11,NETFGILT5Y,49.66,49.66,49.82,49.47,49.82,49.79,49.72,82821,41.18,322,74512.0,89.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-01,ORTINLABSS,9.90,10.15,10.15,9.80,9.85,9.80,9.84,5041,0.50,26,4283.0,84.96
2020-01-01,ORISSAMINE,1281.50,1270.00,1288.00,1259.35,1264.00,1265.60,1268.53,8230,104.40,626,4091.0,49.71
2020-01-01,OSWALAGRO,4.95,5.15,5.40,5.00,5.20,5.30,5.18,27820,1.44,143,17849.0,64.16
2020-01-01,PAISALO,433.00,429.95,438.00,427.45,429.95,428.85,432.68,37838,163.72,505,8873.0,23.45
2020-01-01,PAGEIND,23393.10,23350.00,23799.00,23241.10,23600.00,23602.15,23601.26,16716,3945.19,6464,2964.0,17.73

#Stock data Analysis From Feb 2022 to Jan 2020
# Top 10 Stocks Performance and Top 10 Stocks Non_Performance

In [85]:
#Jan 2020
df_2 = df_1['2022-01']
result_1 = df_2.groupby(df_2["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Jan 2022")
Good_1 = result_1.nlargest(10, ['mean'])
print(Good_1)

Top 10 Performing Stock in Jan 2022
            count           mean
SYMBOL
RELIANCE       16  163576.203125
TCS            16  138287.380625
INFY           16  136848.767500
HDFCBANK       16  129682.083750
BAJFINANCE     16  121344.305000
TATAMOTORS     16  118322.496250
ICICIBANK      16  117055.693125
AXISBANK       16  112123.322500
SBIN           16   99785.960625
TATASTEEL      16   92938.979375

In [21]:
print("Top 10 Non-Performing Stock in Jan 2022")
bad_1 = result_1.nsmallest(10, ['mean'])
print(bad_1)

Top 10 Non-Performing Stock in Jan 2022
            count      mean
SYMBOL
SELMC          16  0.072500
SETF10GILT     16  0.347500
RADAAN          7  0.382857
IDFNIFTYET     16  0.756875
NATNLSTEEL      1  0.820000
UNITEDPOLY     16  0.941250
DCMFINSERV      3  0.993333
IVZINNIFTY     16  1.206875
QNIFTY         16  1.243750
NAGREEKCAP     16  1.286250

In [25]:
df_3 = df_1['2022-02']
result_2 = df_3.groupby(df_3["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Feb 2022")
Good_2 = result_2.nlargest(10, ['mean'])
print(Good_2)

Top 10 Performing Stock in Feb 2022
            count           mean
SYMBOL
AWL             2  278763.205000
RELIANCE        3  140502.526667
HDFC            3  121360.333333
TATASTEEL       3  108607.143333
ICICIBANK       3  100423.726667
TCS             3   99511.586667
HDFCBANK        3   98911.630000
SBIN            3   98295.600000
AXISBANK        3   96768.366667
ADANIPOWER      3   95741.350000

In [26]:
print("Top 10 Non-Performing Stock in Feb 2022")
bad_2 = result_2.nsmallest(10, ['mean'])
print(bad_2)

Top 10 Non-Performing Stock in Feb 2022
            count      mean
SYMBOL
SELMC           3  0.053333
ICICICONSU      3  0.223333
SETF10GILT      3  0.273333
QNIFTY          3  0.533333
UTISXN50        3  0.600000
DSPN50ETF       3  0.610000
IVZINNIFTY      3  0.636667
NCPSESDL24      3  0.733333
IDFNIFTYET      3  0.833333
TCIDEVELOP      3  0.893333

In [27]:
df_4 = df_1['2021-12']
result_3 = df_4.groupby(df_4["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Dec 2021")
Good_3 = result_3.nlargest(10, ['mean'])
print(Good_3)

Top 10 Performing Stock in Dec 2021
            count           mean
SYMBOL
RELIANCE       16  137109.189375
CMSINFO         1  117331.300000
INFY           16   89621.806875
ICICIBANK      16   88095.126875
TATAMOTORS     16   85138.056875
ZEEL           16   84708.698750
BAJFINANCE     16   83934.278125
SUPRIYA         4   75177.027500
IBULHSGFIN     16   70747.028125
TCS            16   69714.686875

In [28]:
print("Top 10 Non-Performing Stock in Dec 2021")
bad_3 = result_3.nsmallest(10, ['mean'])
print(bad_3)

Top 10 Non-Performing Stock in Dec 2021
            count      mean
SYMBOL
SELMC          16  0.008125
SHYAMTEL        4  0.285000
EUROTEXIND      3  0.323333
SETF10GILT     15  0.412667
UNITEDPOLY      1  0.520000
IVZINNIFTY     14  0.610714
ICICICONSU     16  0.681250
IDFNIFTYET     16  0.681250
NKIND          16  0.941875
S&SPOWER       11  0.975455

In [29]:
df_5 = df_1['2021-11']
result_4 = df_5.groupby(df_5["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Nov 2021")
Good_4 = result_4.nlargest(10, ['mean'])
print(Good_4)

Top 10 Performing Stock in Nov 2021
            count           mean
SYMBOL
PAYTM           8  221589.385000
GOCOLORS        1  220301.890000
RELIANCE       14  198072.374286
TATAMOTORS     14  170636.453571
VEDL           14  166087.950714
TATAPOWER      14  164673.676429
TATASTEEL      14  135813.339286
ICICIBANK      14  126387.495714
ZOMATO         14  121724.290714
NYKAA          14  110816.721429

In [30]:
print("Top 10 Non-Performing Stock in Nov 2021")
bad_4 = result_4.nsmallest(10, ['mean'])
print(bad_4)

Top 10 Non-Performing Stock in Nov 2021
            count      mean
SYMBOL
SELMC          12  0.018333
DIGJAMLMTD     14  0.172143
BLUECOAST       8  0.228750
SETF10GILT     14  0.312857
SABEVENTS       6  0.353333
NKIND          14  0.415000
SHYAMTEL       14  0.716429
3PLAND         14  0.852857
DBSTOCKBRO     14  0.920714
NEXTMEDIA      14  0.946429

In [33]:
df_6 = df_1['2021-10']
result_5 = df_6.groupby(df_6["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Oct 2021")
Good_5 = result_5.nlargest(10, ['mean'])
print(Good_5)

Top 10 Performing Stock in Oct 2021
            count           mean
SYMBOL
IRCTC          14  459365.949286
TATAMOTORS     14  332955.605000
TATAPOWER      14  327386.418571
IEX            14  175837.137143
TCS            14  154530.366429
ICICIBANK      14  151802.817143
RELIANCE       14  147030.993571
INFY           14  145049.103571
SBIN           14  128536.025000
AXISBANK       14  112504.276429

In [34]:
print("Top 10 Non-Performing Stock in Oct 2021")
bad_5 = result_5.nsmallest(10, ['mean'])
print(bad_5)

Top 10 Non-Performing Stock in Oct 2021
            count      mean
SYMBOL
GFSTEELS        1  0.020000
GISOLUTION      2  0.025000
PDPL           10  0.045000
PANSARI         6  0.045000
NETFGILT5Y     14  0.101429
PRADIP          4  0.117500
SETF10GILT     14  0.332143
HOTELRUGBY     13  0.429231
DCMFINSERV     13  0.548462
NCPSESDL24     14  0.556429

In [35]:
df_7 = df_1['2021-9']
result_6 = df_7.groupby(df_7["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Sept 2021")
Good_6 = result_6.nlargest(10, ['mean'])
print(Good_6)

Top 10 Performing Stock in Sept 2021
            count           mean
SYMBOL
ZEEL           23  161068.648261
IRCTC          23  150797.846957
RELIANCE       23  150363.103913
TATASTEEL      23  149702.444783
BHARTIARTL     23  143468.613043
TATAMOTORS     23  128713.867826
HDFCBANK       23  108297.302174
SBIN           23  105038.902609
BAJFINANCE     23   96280.454783
TCS            23   88273.578696

In [39]:
print("Top 10 Non-Performing Stock in Sept 2021")
bad_6 = result_6.nsmallest(10, ['mean'])
print(bad_6)

Top 10 Non-Performing Stock in Sept 2021
            count   mean
SYMBOL
SELMC           1  0.000
SHAHALLOYS      1  0.000
KAVVERITEL      1  0.010
PROINDIA        2  0.010
BLUECOAST       2  0.025
IMPEXFERRO      1  0.030
GFSTEELS       10  0.044
METALFORGE      1  0.090
OILCOUNTUB      1  0.100
INTEGRA         1  0.120

In [37]:
df_8 = df_1['2021-8']
result_7 = df_8.groupby(df_8["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Aug 2021")
Good_7 = result_7.nlargest(10, ['mean'])
print(Good_7)

Top 10 Performing Stock in Aug 2021
            count         mean
SYMBOL
TATASTEEL      25  206794.5624
NYKAA           1  178789.4800
RELIANCE       25  147716.7528
TATAMOTORS     25  123341.0456
SBIN           25  107583.6208
INFY           25  103837.7792
BHARTIARTL     25  101559.7860
BAJFINANCE     25   99194.9296
TCS            25   97996.3480
IRCTC          25   95161.3104

In [38]:
print("Top 10 Non-Performing Stock in Aug 2021")
bad_7 = result_7.nsmallest(10, ['mean'])
print(bad_7)

Top 10 Non-Performing Stock in Aug 2021
            count      mean
SYMBOL
KAVVERITEL      2  0.000000
SELMC           1  0.000000
GFSTEELS        1  0.010000
IMPEXFERRO      1  0.010000
SABTN           1  0.020000
INTEGRA         1  0.050000
PROINDIA        2  0.075000
SANGHVIFOR      1  0.080000
PANSARI         1  0.090000
GISOLUTION      3  0.093333

In [40]:
df_9 = df_1['2021-7']
result_8 = df_9.groupby(df_9["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in July 2021")
Good_8 = result_8.nlargest(10, ['mean'])
print(Good_8)

Top 10 Performing Stock in July 2021
            count           mean
SYMBOL
ZOMATO          9  236694.708889
TATASTEEL      22  171116.922273
TATAMOTORS     22  137170.868182
RELIANCE       22  117991.054545
ADANIPORTS     22  108524.110455
HDFCBANK       22  107064.615909
ICICIBANK      22   94610.908182
BAJFINANCE     22   91894.945000
INFY           22   87355.983182
BHARTIARTL     22   80479.874545

In [43]:
print("Top 10 Non-Performing Stock in July 2021")
bad_8 = result_8.nsmallest(10, ['mean'])
print(bad_8)

Top 10 Non-Performing Stock in July 2021
            count      mean
SYMBOL
SELMC           1  0.000000
GISOLUTION      2  0.030000
GFSTEELS        6  0.031667
BLUECOAST       7  0.055714
KAVVERITEL      8  0.056250
TCIFINANCE      1  0.060000
EUROTEXIND      5  0.068000
WEALTH          1  0.090000
PROINDIA        7  0.107143
ROHITFERRO      1  0.130000

In [42]:
df_10 = df_1['2021-6']
result_9 = df_10.groupby(df_10["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in June 2021")
Good_9 = result_9.nlargest(10, ['mean'])
print(Good_9)

Top 10 Performing Stock in June 2021
            count           mean
SYMBOL
RELIANCE       23  230739.336957
ADANIPORTS     23  206250.234783
ADANIENT       23  177525.599565
TATASTEEL      23  162011.300870
TATAMOTORS     23  118562.201739
BAJFINANCE     23  116434.230870
SBIN           23  110306.594348
INFY           23   95277.494348
ICICIBANK      23   85380.295652
HDFCBANK       23   84978.960435

In [44]:
print("Top 10 Non-Performing Stock in June 2021")
bad_9 = result_9.nsmallest(10, ['mean'])
print(bad_9)

Top 10 Non-Performing Stock in June 2021
            count      mean
SYMBOL
SELMC           1  0.010000
PROINDIA       16  0.024375
SABEVENTS       1  0.030000
GFSTEELS        1  0.040000
KAVVERITEL      1  0.040000
TCIFINANCE      1  0.040000
GISOLUTION      2  0.055000
WSI             1  0.090000
ROHITFERRO      1  0.100000
SABTN           4  0.120000

In [47]:
df_11 = df_1['2021-5']
result_10 = df_11.groupby(df_11["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in May 2021")
Good_10 = result_10.nlargest(11, ['mean'])
print(Good_10)

Top 10 Performing Stock in May 2021
            count           mean
SYMBOL
SBIN           23  269770.567826
TATASTEEL      23  238368.920435
RELIANCE       23  177960.563913
TATAMOTORS     23  175021.533913
BAJFINANCE     23  120071.790000
HDFCBANK       23  115775.718696
ICICIBANK      23  110971.417391
AXISBANK       23  106489.606087
SAIL           23   97637.755217
ADANIENT       23   93969.254783
HDFC           23   92441.000435

In [46]:
print("Top 10 Non-Performing Stock in May 2021")
bad_10 = result_10.nsmallest(10, ['mean'])
print(bad_10)

Top 10 Non-Performing Stock in May 2021
            count      mean
SYMBOL
KAVVERITEL      1  0.020000
INTEGRA         1  0.030000
ROHITFERRO      8  0.052500
ARVEE           1  0.060000
GFSTEELS        1  0.090000
GISOLUTION     16  0.103125
TFL            16  0.103750
PROINDIA        1  0.120000
TECHIN          9  0.131111
PREMIER        10  0.197000

In [49]:
df_12 = df_1['2021-4']
result_11 = df_12.groupby(df_12["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in April 2021")
Good_11 = result_11.nlargest(10, ['mean'])
print(Good_11)

Top 10 Performing Stock in April 2021
            count         mean
SYMBOL
TATASTEEL      20  207183.6815
SBIN           20  205111.5215
BAJFINANCE     20  180549.3365
TATAMOTORS     20  176973.1325
RELIANCE       20  167925.2325
ICICIBANK      20  164287.1810
HDFCBANK       20  161655.9245
ADANIPORTS     20  153655.6665
AXISBANK       20  132673.4890
INFY           20  123198.9975

In [50]:
print("Top 10 Non-Performing Stock in April 2021")
bad_11 = result_11.nsmallest(10, ['mean'])
print(bad_11)

Top 10 Non-Performing Stock in April 2021
            count      mean
SYMBOL
PROINDIA        1  0.010000
BLUECHIP        4  0.045000
CNOVAPETRO      1  0.050000
GISOLUTION      7  0.100000
GFSTEELS        1  0.100000
SHYAMTEL        1  0.120000
INTEGRA         1  0.130000
EBANK           9  0.153333
DCMFINSERV      7  0.181429
TECHIN          6  0.186667

In [51]:
df_13 = df_1['2021-3']
result_12 = df_13.groupby(df_13["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in March 2021")
Good_12 = result_12.nlargest(10, ['mean'])
print(Good_12)

Top 10 Performing Stock in March 2021
            count           mean
SYMBOL
RELIANCE       23  198943.805217
TATAMOTORS     23  189897.280000
SBIN           23  172641.011304
TATASTEEL      23  149474.974783
ICICIBANK      23  124121.236522
HDFCBANK       23  121860.081739
BAJFINANCE     23  106758.881304
AXISBANK       23  105738.781739
INFY           23  102289.973913
HDFC           23   98085.068696

In [52]:
print("Top 10 Non-Performing Stock in March 2021")
bad_12 = result_12.nsmallest(10, ['mean'])
print(bad_12)

Top 10 Non-Performing Stock in March 2021
            count      mean
SYMBOL
SELMC           1  0.000000
CNOVAPETRO      1  0.020000
ROHITFERRO      1  0.020000
PROINDIA        1  0.040000
KAVVERITEL      1  0.100000
KAPSTON         3  0.123333
SABTN          10  0.145000
SABEVENTS      18  0.164444
GISOLUTION     13  0.173077
INTEGRA         1  0.190000

In [53]:
df_14 = df_1['2021-2']
result_13 = df_14.groupby(df_14["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Feb 2021")
Good_13 = result_13.nlargest(10, ['mean'])
print(Good_13)

Top 10 Performing Stock in Feb 2021
            count           mean
SYMBOL
TATAMOTORS     21  231015.770000
RELIANCE       21  215506.707143
SBIN           21  193216.689524
ICICIBANK      21  149805.705238
TATASTEEL      21  148506.723333
BHARTIARTL     21  148117.426190
HDFCBANK       21  131381.746190
AXISBANK       21  119194.635714
BAJFINANCE     21  117015.701429
HDFC           21  104729.358095

In [56]:
print("Top 10 Non-Performing Stock in feb 2021")
bad_13 = result_13.nsmallest(10, ['mean'])
print(bad_13)

Top 10 Non-Performing Stock in feb 2021
            count      mean
SYMBOL
SELMC           1  0.000000
PROINDIA        1  0.010000
KAVVERITEL      1  0.020000
NETFGILT5Y      6  0.051667
PANSARI         1  0.080000
GISOLUTION     15  0.104000
SABEVENTS      16  0.120000
TFL             3  0.146667
INTEGRA        12  0.155833
GBGLOBAL       15  0.182667

In [57]:
df_15 = df_1['2021-1']
result_14 = df_15.groupby(df_15["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Jan 2021")
Good_14 = result_14.nlargest(10, ['mean'])
print(Good_14)

Top 10 Performing Stock in Jan 2021
            count           mean
SYMBOL
TATAMOTORS     24  363618.599167
RELIANCE       24  249420.984583
BAJFINANCE     24  152179.152500
HDFCBANK       24  141951.084167
TATASTEEL      24  135980.943750
BHARTIARTL     24  126352.802083
SBIN           24  125002.126250
INFY           24  121982.827500
ICICIBANK      24  119374.884167
HDFC           24  114909.679167

In [58]:
print("Top 10 Non-Performing Stock in Jan 2021")
bad_14 = result_14.nsmallest(10, ['mean'])
print(bad_14)

Top 10 Non-Performing Stock in Jan 2021
            count      mean
SYMBOL
PROINDIA        1  0.000000
GFSTEELS        1  0.010000
SABEVENTS       3  0.126667
GBGLOBAL        2  0.150000
NETFGILT5Y      6  0.173333
BSLSENETFG      2  0.240000
KAPSTON         2  0.275000
GISOLUTION      3  0.276667
KAUSHALYA       4  0.325000
ARVEE           3  0.340000

In [59]:
df_16 = df_1['2020-12']
result_15 = df_16.groupby(df_16["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Dec 2020")
Good_15 = result_15.nlargest(10, ['mean'])
print(Good_15)

Top 10 Performing Stock in Dec 2020
            count           mean
SYMBOL
RELIANCE       15  198321.766000
BAJFINANCE     15  164431.882667
HDFCBANK       15  132227.596000
ICICIBANK      15  119948.483333
INFY           15  106562.244000
INDUSINDBK     15  102400.135333
TATAMOTORS     15  101369.332000
HDFC           15   99461.216000
SBIN           15   97173.700000
TATASTEEL      15   95277.912000

In [60]:
print("Top 10 Non-Performing Stock in Dec 2021")
bad_15 = result_15.nsmallest(10, ['mean'])
print(bad_15)

Top 10 Non-Performing Stock in Dec 2021
            count      mean
SYMBOL
CYBERMEDIA      7  0.017143
SABTN           2  0.050000
TVVISION        5  0.070000
INTEGRA         5  0.106000
GISOLUTION     12  0.180000
DCMFINSERV     15  0.238000
UMESLTD         5  0.238000
EUROMULTI      11  0.245455
EBANK          12  0.255833
LPDC           15  0.348667

In [61]:
df_17 = df_1['2020-11']
result_16 = df_17.groupby(df_17["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Nov 2020")
Good_16 = result_16.nlargest(10, ['mean'])
print(Good_16)

Top 10 Performing Stock in Nov 2020
            count           mean
SYMBOL
RELIANCE       14  345283.475000
BAJFINANCE     14  335124.430000
KOTAKBANK      14  231256.572143
INDUSINDBK     14  218458.342857
AXISBANK       14  178956.702857
HDFCBANK       14  177365.177143
SBIN           14  175205.827143
BAJAJFINSV     14  160197.010714
ICICIBANK      14  158898.638571
HDFC           14  136527.640714

In [62]:
print("Top 10 Non-Performing Stock in Nov 2021")
bad_16 = result_16.nsmallest(10, ['mean'])
print(bad_16)

Top 10 Non-Performing Stock in Nov 2021
            count      mean
SYMBOL
GISOLUTION      5  0.032000
ROML           13  0.043846
DCMFINSERV     13  0.048462
BLUECOAST       9  0.056667
TVVISION       14  0.061429
PREMIER        14  0.090714
WSI            14  0.095714
UMESLTD        14  0.097857
LPDC           14  0.108571
IMPEXFERRO     14  0.117857

In [64]:
df_18 = df_1['2020-10']
result_17 = df_18.groupby(df_18["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Oct 2020")
Good_17 = result_17.nlargest(10, ['mean'])
print(Good_17)

Top 10 Performing Stock in Oct 2020
            count           mean
SYMBOL
RELIANCE       15  269512.688667
INFY           15  161019.760667
BAJFINANCE     15  154505.948000
HDFCBANK       15  142375.429333
AXISBANK       15  120495.055333
BHARTIARTL     15  119696.749333
ICICIBANK      15  118497.746000
DRREDDY        15  112345.625333
TCS            15  111753.228000
HCLTECH        15  106793.322000

In [65]:
print("Top 10 Non-Performing Stock in Oct 2021")
bad_17 = result_17.nsmallest(10, ['mean'])
print(bad_17)

Top 10 Non-Performing Stock in Oct 2021
            count      mean
SYMBOL
SPCENET        13  0.022308
3PLAND         11  0.033636
TVVISION       15  0.040000
SABTN          15  0.049333
CNOVAPETRO     12  0.062500
DBSTOCKBRO     15  0.096667
ZODJRDMKJ      15  0.113333
NEXTMEDIA      15  0.118000
ONELIFECAP     15  0.124667
ARIHANT        15  0.141333

In [66]:
df_19 = df_1['2020-09']
result_18 = df_19.groupby(df_19["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Sept 2020")
Good_18 = result_18.nlargest(10, ['mean'])
print(Good_18)

Top 10 Performing Stock in Sept 2020
            count           mean
SYMBOL
RELIANCE       23  379294.899565
DRREDDY        23  198726.428696
BAJFINANCE     23  171659.574783
HDFCBANK       23  128425.319565
TCS            23  125894.630000
BHARTIARTL     23  122223.283478
SBIN           23  119179.793913
ICICIBANK      23  118990.683478
INDUSINDBK     23  107180.976957
INFY           23  106742.296522

In [67]:
print("Top 10 Non-Performing Stock in Sept 2021")
bad_18 = result_18.nsmallest(10, ['mean'])
print(bad_18)

Top 10 Non-Performing Stock in Sept 2021
            count      mean
SYMBOL
SATHAISPAT      1  0.000000
PAEL            1  0.010000
STINDIA         3  0.013333
INTEGRA         3  0.020000
PRADIP          2  0.020000
BLUECOAST       1  0.030000
SPCENET         2  0.030000
EUROTEXIND     12  0.048333
ROML            2  0.050000
TFL            18  0.058889

In [68]:
df_20 = df_1['2020-08']
result_19 = df_20.groupby(df_20["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Aug 2020")
Good_19 = result_19.nlargest(10, ['mean'])
print(Good_19)

Top 10 Performing Stock in Aug 2020
            count           mean
SYMBOL
RELIANCE       24  314244.190833
BAJFINANCE     24  207272.761667
SBIN           24  153217.054167
ICICIBANK      24  150535.858333
HDFCBANK       24  143510.454167
AXISBANK       24  135665.583750
INDUSINDBK     24  134394.485417
BHARTIARTL     24  132909.031667
TATAMOTORS     24   99488.769583
TCS            24   96791.498333

In [69]:
print("Top 10 Non-Performing Stock in Aug 2021")
bad_19 = result_19.nsmallest(10, ['mean'])
print(bad_19)

Top 10 Non-Performing Stock in Aug 2021
            count      mean
SYMBOL
GISOLUTION      2  0.005000
INTEGRA         2  0.010000
PAEL            1  0.010000
SHYAMTEL        1  0.010000
STINDIA         6  0.016667
BLUECOAST       1  0.020000
BAFNAPH         1  0.040000
EUROTEXIND     10  0.048000
PRADIP          1  0.050000
PREMIER         5  0.052000

In [70]:
df_21 = df_1['2020-07']
result_20 = df_21.groupby(df_21["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in July 2020")
Good_20 = result_20.nlargest(10, ['mean'])
print(Good_20)

Top 10 Performing Stock in July 2020
            count         mean
SYMBOL
RELIANCE       25  505744.2752
BAJFINANCE     25  318881.0368
HINDUNILVR     25  207408.8316
HDFCBANK       25  154394.1548
ICICIBANK      25  147115.5020
INFY           25  144693.0636
AXISBANK       25  139705.8720
SBIN           25  122150.5992
INDUSINDBK     25  105939.1500
TCS            25  105845.1260

In [71]:
print("Top 10 Non-Performing Stock in July 2021")
bad_20 = result_20.nsmallest(10, ['mean'])
print(bad_20)

Top 10 Non-Performing Stock in July 2021
            count    mean
SYMBOL
INFOMEDIA       1  0.0000
PAEL            1  0.0000
SATHAISPAT      1  0.0000
PRADIP          1  0.0100
SHYAMTEL        1  0.0100
INTEGRA         2  0.0250
SABEVENTS       2  0.0250
STINDIA         4  0.0275
SPCENET         1  0.0400
HOTELRUGBY      2  0.0500

In [72]:
df_22 = df_1['2020-06']
result_21 = df_22.groupby(df_22["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in June 2020")
Good_21 = result_21.nlargest(10, ['mean'])
print(Good_21)

Top 10 Performing Stock in June 2020
            count           mean
SYMBOL
RELIANCE       23  324589.273478
BAJFINANCE     23  305208.775652
HDFCBANK       23  182625.311739
INDUSINDBK     23  173571.063913
AXISBANK       23  157414.087391
ICICIBANK      23  141707.069565
SBIN           23  129942.253043
HDFC           23  116864.135652
IBULHSGFIN     23   92898.877391
TATAMOTORS     23   92240.479565

In [73]:
print("Top 10 Non-Performing Stock in June 2020")
bad_21 = result_21.nsmallest(10, ['mean'])
print(bad_21)

Top 10 Non-Performing Stock in June 2020
            count      mean
SYMBOL
PREMIER         1  0.000000
SABEVENTS       1  0.000000
SHYAMTEL        1  0.000000
PAEL            1  0.010000
TFL             2  0.010000
IMPEXFERRO      1  0.020000
NTL             1  0.020000
SATHAISPAT      1  0.020000
SPCENET         1  0.020000
EUROTEXIND      3  0.023333

In [74]:
df_23 = df_1['2020-05']
result_22 = df_23.groupby(df_23["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in May 2020")
Good_22 = result_22.nlargest(10, ['mean'])
print(Good_22)

Top 10 Performing Stock in May 2020
            count           mean
SYMBOL
RELIANCE       21  337089.135714
BAJFINANCE     21  215496.244286
HDFCBANK       21  179138.928571
ICICIBANK      21  166436.862857
BHARTIARTL     21  152903.762381
AXISBANK       21  148812.053810
SBIN           21  145361.759524
HDFC           21  124147.538571
HINDUNILVR     21  111355.132381
INDUSINDBK     21  107372.364762

In [75]:
print("Top 10 Non-Performing Stock in May 2020")
bad_22 = result_22.nsmallest(10, ['mean'])
print(bad_22)

Top 10 Non-Performing Stock in May 2020
            count      mean
SYMBOL
EUROMULTI       1  0.000000
ROML            1  0.000000
SHYAMTEL        1  0.000000
IMPEXFERRO      1  0.010000
NTL             1  0.010000
PREMIER         1  0.010000
SPCENET         1  0.010000
GLFL            7  0.017143
BSHSL           1  0.020000
PRADIP          1  0.020000

In [76]:
df_24 = df_1['2020-04']
result_23 = df_24.groupby(df_24["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in April 2020")
Good_23 = result_23.nlargest(10, ['mean'])
print(Good_23)

Top 10 Performing Stock in April 2020
            count         mean
SYMBOL
RELIANCE       20  391948.5760
BAJFINANCE     20  203512.2865
HDFCBANK       20  199735.1360
AXISBANK       20  159492.3010
ICICIBANK      20  158017.8525
SBIN           20  133055.6865
INDUSINDBK     20  121894.4830
HDFC           20  114039.7370
HINDUNILVR     20  110223.4765
SUNPHARMA      20   92185.6995

In [77]:
print("Top 10 Non-Performing Stock in April 2020")
bad_23 = result_23.nsmallest(10, ['mean'])
print(bad_23)

Top 10 Non-Performing Stock in April 2020
            count      mean
SYMBOL
GISOLUTION      1  0.000000
SPCENET         1  0.010000
ROML            2  0.020000
SATHAISPAT     12  0.021667
STINDIA        12  0.026667
HOTELRUGBY      2  0.035000
INTEGRA         2  0.040000
EUROTEXIND      3  0.043333
GFSTEELS       14  0.048571
PRADIP          1  0.050000

In [78]:
df_25 = df_1['2020-03']
result_24 = df_25.groupby(df_25["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in March 2020")
Good_24 = result_24.nlargest(10, ['mean'])
print(Good_24)

Top 10 Performing Stock in March 2020
            count         mean
SYMBOL
RELIANCE       25  254868.7716
HDFCBANK       25  206563.5064
ICICIBANK      25  177190.6732
SBIN           25  163975.3132
BAJFINANCE     25  162158.7088
HDFC           25  146954.1284
AXISBANK       25  138166.8060
INDUSINDBK     25  119794.1500
TCS            25  102310.7928
INFY           25   91738.2504

In [79]:
print("Top 10 Non-Performing Stock in March 2020")
bad_24 = result_24.nsmallest(10, ['mean'])
print(bad_24)

Top 10 Non-Performing Stock in March 2020
            count      mean
SYMBOL
STINDIA        15  0.007333
INFOMEDIA      14  0.011429
INTEGRA        10  0.016000
SHYAMTEL        6  0.020000
PAEL           16  0.022500
WSI             4  0.027500
PRADIP         16  0.028125
LPDC           19  0.032105
HOTELRUGBY      2  0.035000
PREMIER        13  0.036154

In [80]:
df_26 = df_1['2020-02']
result_25 = df_26.groupby(df_26["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Feb 2020")
Good_25 = result_25.nlargest(10, ['mean'])
print(Good_25)

Top 10 Performing Stock in Feb 2020
            count           mean
SYMBOL
RELIANCE       21  183188.043333
SBIN           21  130672.506190
BAJFINANCE     21  111479.787619
INDUSINDBK     21  106346.260476
ICICIBANK      21  105357.193333
IBULHSGFIN     21   99506.403810
HDFCBANK       21   95585.495238
BHARTIARTL     21   90115.211429
TATAMOTORS     21   87390.998571
HDFC           21   86225.577143

In [81]:
print("Top 10 Non-Performing Stock in Feb 2020")
bad_25 = result_25.nsmallest(10, ['mean'])
print(bad_25)

Top 10 Non-Performing Stock in Feb 2020
            count    mean
SYMBOL
SPCENET         1  0.0000
TFL             1  0.0000
GISOLUTION      2  0.0050
GFSTEELS        1  0.0100
INTEGRA         1  0.0200
PRADIP          5  0.0220
HOTELRUGBY      2  0.0250
GBGLOBAL        1  0.0400
TECHIN          2  0.0450
JPOLYINVST     20  0.0475

In [82]:
df_27 = df_1['2020-01']
result_26 = df_27.groupby(df_27["SYMBOL"]).TURNOVER_LACS.agg(["count","mean"])
print("Top 10 Performing Stock in Jan 2020")
Good_26 = result_26.nlargest(10, ['mean'])
print(Good_26)

Top 10 Performing Stock in Jan 2020
            count           mean
SYMBOL
RELIANCE       24  161999.752083
BHARTIARTL     24  123642.883750
SBIN           24  113226.645417
INDUSINDBK     24  108063.661250
BAJFINANCE     24  104173.090833
HDFCBANK       24   95604.877500
ICICIBANK      24   93845.607083
AXISBANK       24   85418.053333
HDFC           24   77549.757500
TATAMOTORS     24   70067.377917

In [83]:
print("Top 10 Non-Performing Stock in Jan 2020")
bad_26 = result_26.nsmallest(10, ['mean'])
print(bad_26)

Top 10 Non-Performing Stock in Jan 2020
            count      mean
SYMBOL
INFOMEDIA       1  0.000000
PAEL            1  0.010000
SHYAMTEL        1  0.010000
INTEGRA         3  0.020000
SATHAISPAT      2  0.020000
GISOLUTION      2  0.025000
LPDC           21  0.035238
PREMIER         2  0.040000
STINDIA        16  0.043125
TFL             1  0.050000